<h2>CELEBRITIES</h2>
<ul
  {{#each celebrities as |celebrity|) }}
    <li>
      <a href="/celebrites/{{ celebrity.id }}">{{ celebrity.name }}</a></li>
  {{/each}}


</ul>
<a href="/celebrities/new" class="btn btn-primary">New Celebrity</a>