<h2>New Celebrity</h2>

{{#if celebrity.isNew }}
  <form action="/celebrities/new" method="post">
{{else}}
  <form action="/celebrities/{{celebrity.id}}" method="post">
{{/if}}

    <div>
        <label >Name:</label>
        <input type="text" name="name">
    </div>
   <div>
        <label >Occupation:</label>
        <input type="text" name="occupation">
    </div>
    <div>
        <label >Catch Phrase:</label>
        <input type="text" name="catchPhrase">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

</form>