<div class="container-fluid pt-5">
  <div class="m-5"></div>
  <div class="row">
    <h2 class="m-3">NEW CELEBRITY</h2>
  </div>
</div>

<div class="container">
<form action="/celebrities/new" method="post">
    <div class="form-group my-4">
        <label for="celebrity-name">Name</label>
        <input type="text" class="form-control"  name="name" id="celebrity-name" placeholder="Enter name">
    </div>
    <div class="form-group my-4">
        <label for="ocuppation">Ocuppation</label>
        <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Enter occupation">
    </div>
    <div class="form-group my-4">
        <label for="catch-phrase">Catch Phrase</label>
        <input type="text" class="form-control" name="catchPhrase" id="catch-phrase" placeholder="Enter catch phrase">
    </div>
    <div class="form-group my-4">
        <label for="photo">Photo</label>
        <input type="text" class="form-control" name="photo" id="photo" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary my-3">Create</button>
    </form>
</div>